
@media screen and (max-width:425px) {
    .nav-container, 
    .nav-container ul,
    .banner-container,
    .video-image-container,
    .online-games-container,
    .game-container
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav-title-container{
        
        width: 30%;
        padding: 50px 100px;
    }
    .banner-container .tree {
        padding-left: 90px;
        width: 400px;
        height: 100vh;    
    }
    .banner-content {
        width: 400px;
        height: 500px;
        background-image: url('../images/Group\ 14.png');
        background-repeat: no-repeat;
        padding: 10px ;
    }
    .banner-container{
        width: 100%;
        padding: 50px 0;
    }
    .funny-videos-container {
        margin: 0;
    }
    /* .online-games-container .large-pic {
        width: 400px;
        height: 400px;
    } */
    
    .online-games-container{
        
        margin: 100px 20px 50px;
    }
    .online-games-content{
        margin-top: -100px;
        text-align: center;
    }
    .small-pic{
        display: none;
    }
    .online-games-container .large-pic{
        width: 400px;
        height: 400px;
    }
    .game-container{
        padding: 50px 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    footer .footer-title{
        padding: 50px 20px;
    }
    footer .first-list {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
    footer .second-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }
       
}